body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


footer{
    display: flex;
    border-top: 1px solid grey;
    background-color: white;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

footer h4{
    font-weight: 500;
    margin-left: 2rem;
    font-size: medium;
    margin-top: 0.3rem;
}

footer a{
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}

.footer_div {
    display: flex;
    align-items: center;
}

.copyright {
    margin-right: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid white;
    height: 5rem;
    box-shadow: 2px 4px 5px lightgrey;
}

header h3{
    font-weight: 400;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
    margin-left: 1rem;
    color: green;
}

nav {
    width: 17rem;
    display: flex;
    align-items: center;
}

header a{
    color: black;
    margin-right: 1rem;
    text-decoration: none;   
}

header a:hover{
    color: blue;
}

.user {
    display: flex;
    margin-right: 1rem;
    align-items: center;
}

.user:hover {
    border: 1px solid black;
    border-radius: 0.5rem;
}

.pic{
    border: 1px solid green;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.3rem;
    border-radius: 3rem;
    overflow: hidden;
}

.pic img{
    width: 100%;
    height: 100%;
}

.profile-pic {
    position: absolute;
    font-size: small;
    top: 5.1rem;
    right: 0;
    background-color: white;
    width: 15rem;
    height: 8rem;
    border: 1px solid green;
    border-radius: 6px;
    display: none;
}

.profile-pic h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
    margin-top: 1rem;
}

.profile-pic form {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
}

#submit-pic {
    width: 5rem;
    height: 1.5rem;
    background: white;
    border: 1px solid green;
    color: green;
    border-radius: 6px;
    margin-top: 1rem;
    margin-left: 4.7rem;
}

#submit-pic:hover{
    background-color: #f2f2f2;
}

#file {
    margin-left: 1rem;
}

.can {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    margin-right: 0.7rem;
    font-size:smaller;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 90%;
    background-color: white;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 10px lightgrey;
}

.title {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.the_link {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.topic {
    display: flex;
    flex-direction: column;
}

#topic{
    height:1.5rem;
    border: 1px solid grey;
}

#title{
    height:1.5rem;
    border: 1px solid grey;
}

#content{
    height: 4rem;
    border: 1px solid grey;
}

#the_link {
    height:1.5rem;
    border: 1px solid grey;
}

#post{
    background: green;
    border: 1px solid green;
    color: white;
    margin-top: 1rem;
    width: 4rem;
    height: 1.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.q {
    display: flex;
    align-items: center;
}

.login {
    color: green;
    min-width: 20rem;
    height: 2rem;
    background-color: #f2f2f2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
    min-width: 20rem;
    height: 2rem;
    background-color: #f2f2f2;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8rem;
}

.fade-out {
    animation: fadeOut 10s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.container_1 {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 50%;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 10px lightgrey;
}

#make_admin {
    background: green;
    border: 1px solid green;
    color: white;
    margin-top: 1rem;
    width: 8rem;
    height: 1.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin_account {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3.2rem;
}

#admin_account {
    width: 15rem;
    height: 1.5rem;
    border: 1px solid grey;
}

.copyright h6 {
    font-size: small;
    font-weight: 500;
}

/* responsiveness*/
.hide {
    display: flex;
}

.hamburger {
    display:flex;
    flex-direction: column;
}

.line {
    width: 1.5625rem;
    height: 0.125rem;
    background-color: black;
    margin-top: 0.1875rem;
}

.menu-toggle { 
    margin-right: 2rem;
    cursor: pointer;
    display: none;
}

.drop {
    position: absolute;
    display: none;
    top: 5rem;
    width: 100%;
    min-height: 3rem;
    background: white;
    box-shadow: 2px 4px 5px lightgrey;
    border-top: 1px solid lightgrey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop a {
    border-bottom: 1px solid lightgrey;
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

/* user feedback category */
.container_2 {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 50%;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 10px lightgrey;
}

.feed_form1 {
    display: flex;
    flex-direction: column;
}

#view_feedback {
    background: green;
    border: 1px solid green;
    color: white;
    margin-top: 1rem;
    width: 10rem;
    height: 1.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#topic_feedback {
    width: 15rem;
}

.container_3 {
    display: flex;
    flex-direction: column;
    border: 3px solid white;
    width: 90%;
    background-color: white;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 10px lightgrey;
    min-height: 10rem;
}

.title_rate {
    font-size: x-large;
    color: green;
}

.rater {
    border: 1px solid black;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;  
}

.error1 {
    margin-left: 2rem;
    font-size: large;
}


@media (max-width: 768px) {
    .menu-toggle { 
        display: block;
        margin-left: 1rem;
    }

    .hide {
        display: none;
    }

    nav {
        width: 7rem;
        justify-content: flex-end;
    }

    header a {
        margin-top: 0.2rem;
    }

    .container {
        width: 90%;
        margin-left: 1rem;
    }

    .container_1 {
        width: 90%;
        margin-left: 1rem;
    }

    .container_2 {
        width: 90%;
        margin-left: 1rem;
    }

    .container_3 {
        margin-left: 1rem;
    }

    .footer_div {
        width: 15rem;
        height: 3rem;
    }

    footer h4 {
        margin-left: 1rem;
    }

    footer h6 {
        font-size: small;
    }

    header h3 {
        font-size: x-large;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright {
        padding-left: 1rem;
    }
}

