body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container1 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 28rem;
    background-color: white;
    height: 36rem;
    box-shadow: 2px 4px 5px lightgrey;
    border-radius: 6px;
}

.container2 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 28rem;
    background-color: white;
    height: 36rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 5px lightgrey;
    border-radius: 8px;
}

.py{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
}

.pyd {
    font-size: medium;
    font-weight: 300;
    margin-left: 2rem;
    margin-top: -1rem;
    margin-right: 2rem;
    text-align: justify;
}

.pyd1 {
    font-size: medium;
    font-weight: 300;
    margin-left: 2rem;
    margin-top: -1rem;
    margin-right: 2rem;
    text-align: justify;
}

.container1 h3{
    font-weight: 400;
    margin-left: 2rem;
    font-size: x-large;
}

.container2 h3{
    font-weight: 400;
    margin-left: 2rem;
    font-size: x-large;
}

.container1 a{
    margin-left: 2rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 8px;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
}

.container2 a{
    margin-left: 2rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 8px;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
}


.container1 a:hover {
    background-color: #f2f2f2;
    border: 2px solid green;
}

.container2 a:hover {
    background-color: #f2f2f2;
    border: 2px solid green;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid white;
    height: 5rem;
    box-shadow: 2px 4px 5px lightgrey;
}

header h3{
    font-weight: 400;
    font-size: xx-large;
    font-family: 'Dancing Script', cursive;
    margin-left: 1rem;
    color: green;
}

nav {
    width: 22rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header a{
    color: black;
    margin-right: 1rem;
    text-decoration: none;   
}

header a:hover{
    color: blue;
}

.user {
    display: flex;
    margin-right: 1rem;
    align-items: center;
    cursor: pointer;
}

.user:hover {
    border: 1px solid black;
    border-radius: 0.5rem;
}

.pic{
    border: 1px solid green;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 0.3rem;
    border-radius: 3rem;
    overflow: hidden;
}

.pic img{
    width: 100%;
    height: 100%;
}

footer{
    display: flex;
    border-top: 1px solid grey;
    background-color: white;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
}

footer h4{
    font-weight: 500;
    margin-left: 2rem;
}

footer a{
    margin-left: 1rem;
    margin-top: 0.4rem;
}

.profile-pic {
    position: absolute;
    top: 5.1rem;
    right: 0;
    background-color: white;
    width: 15rem;
    height: 8rem;
    border: 1px solid green;
    border-radius: 6px;
    display: none;
}

.profile-pic h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: small;
}

.profile-pic form {
    display: flex;
    flex-direction: column;
    height: 5rem;
    justify-content: center;
}

#submit-pic {
    width: 5rem;
    height: 1.5rem;
    background: white;
    border: 1px solid green;
    color: green;
    border-radius: 6px;
    margin-top: 1rem;
    margin-left: 4.7rem;
}

#submit-pic:hover{
    background-color: #f2f2f2;
}

#file {
    margin-left: 1rem;
}

.can {
    width: 0.9rem;
    height: 1rem;
    cursor: pointer;
    margin-right: 0.7rem;
    font-size:smaller;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;

}

.q {
    display: flex;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 28rem;
    background-color: white;
    height: 36rem;
    box-shadow: 2px 4px 5px lightgrey;
    border-radius: 6px;
}

.container4 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 28rem;
    background-color: white;
    height: 36rem;
    margin-left: 2rem;
    box-shadow: 2px 4px 5px lightgrey;
    border-radius: 8px;
}

.big-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
}

.container3 h3{
    font-weight: 400;
    margin-left: 2rem;
    font-size: x-large;
}

.container4 h3{
    font-weight: 400;
    margin-left: 2rem;
    font-size: x-large;
}

.container3 a{
    margin-left: 2rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 8px;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
    margin-top: 1.7rem;
}

.container4 a{
    margin-left: 2rem;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 8px;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
    margin-top: 1.8rem;
}


.container3 a:hover {
    background-color: #f2f2f2;
    border: 2px solid green;
}

.container4 a:hover {
    background-color: #f2f2f2;
    border: 2px solid green;
}

.container4 img {
    margin-right: 2rem;
    margin-left: 1rem;
}

.container4 .py{
    height: 6rem;
    align-items: center;
    margin-bottom: 0.3rem;
}

.footer_div {
    display: flex;
    align-items: center;
}

.copyright {
    margin-right: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
}

.copyright h6 {
    font-size: small;
    font-weight: 500;
}

.login {
    color: green;
    min-width: 20rem;
    height: 2rem;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 2rem;
    position: absolute;
    top: 4.5rem;
}


.fade-out {
    animation: fadeOut 7s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* responsiveness*/
.hide {
    display: flex;
}

.hamburger {
    display:flex;
    flex-direction: column;
}

.line {
    width: 1.5625rem;
    height: 0.125rem;
    background-color: black;
    margin-top: 0.1875rem;
}

.menu-toggle { 
    margin-right: 5rem;
    cursor: pointer;
    display: none;
}

.drop {
    position: absolute;
    display: none;
    top: 5rem;
    width: 100%;
    min-height: 3rem;
    background: white;
    box-shadow: 2px 4px 5px lightgrey;
    border-top: 1px solid lightgrey;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drop a {
    border-bottom: 1px solid lightgrey;
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
}

.intro-resources {
    color: black;
    background: white;
    width: 70%;
    height: 33rem;
    margin-left: 11.5rem;
    border: 1px solid lightgrey;
    border-radius: 6px;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.intro-t {
    margin-left: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    font-size: xx-large;
    font-family: 'Dancing script', cursive;
    color: green;
}

.intro-p {
    margin-left: 2rem;
    width: 90%;
    margin-right: 2rem;
    font-size: large;
    line-height: 2rem;
    text-align: justify;
}

.slogan {
    color: green;
    font-family: 'Dancing script', cursive;
    font-weight: 500;
    margin-left: 2rem;
}

.gibb {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.gibb2 {
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f2;
    box-shadow: 2px 4px 5px lightgrey;
}

.gibb2 .intro-t {
    margin-left: 0;
}

.gibb2 .slogan {
    margin-left: 0;
    fill: green;
}

@media (max-width: 768px) {
    .menu-toggle { 
        display: block;
        margin-left: 1rem;
    }

    .hide {
        display: none;
    }

    nav {
        width: 8rem;
    }

    header h3 {
        margin-left: -2rem;
    }

    .big-container {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .container1{
        height: 33rem;
        width: 90%;
        margin-bottom: 1rem;
    }

    .container2{
        height: 33rem;
        width: 90%;
        margin-left: 0;
    }

    .container3{
        height: 32rem;
        width: 90%;
        margin-bottom: 1rem;
    }

    .container4{
        height: 32rem;
        width: 90%;
        margin-left: 0;
    }

    .py {
        margin-top: 1rem;

    }

    .big-container1 {
        flex-direction: column;
    }

    .container4 .py {
        width: 80%;
        margin-left: 2rem;
    }

    .container4 img {
        width: 50px;
        height: 50px;
    }

    .footer_div {
        width: 15rem;
        height: 3rem;
    }

    .footer_div h4{
        margin-left: 1rem;
    }

    header h3 {
        font-size: x-large;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright {
        padding-left: 1rem;
        height: 1.5rem;
    }

    .copyright h6 {
        font-size: small;
        font-weight: 500;
    }

    .pyd {
        font-size: small;
    }

    .pyd1 {
        font-size: small;
    }

    .container1 h3 {
        font-size: large;
        font-weight: 500;
    }

    .container2 h3 {
        font-size: large;
        font-weight: 500;
    }

    .container3 h3 {
        font-size: large;
        font-weight: 500;
    }

    .container4 h3 {
        font-size: large;
        font-weight: 500;
    }

    .intro-resources {
        margin-left: 1rem;
        line-height:normal;
        height: 51rem;
        flex-direction: column;
        align-items: flex-start;
        width: 90%;
    }

    .gibb {
        width: 95%;
        justify-content: space-evenly;
        height: 60%;
    }

    .gibb2 {
        margin-right: 0;
        margin-left: 3.5rem;
        margin-bottom: 2rem;
    }

    .intro-p {
        width: 87%;
        font-size: small;
        line-height: 1.2rem;
        font-weight: 300;
    }

    .profile-pic h3 {
        margin-left: 1rem;
    }
}