body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: black;
    height: 37.5rem;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid white;
    height: 5rem;
    box-shadow: 2px 4px 5px lightgrey;
}

header h3{
    font-weight: 600;
    font-size: x-large;
    font-family: cursive;
    margin-left: 1rem;
    color: green;
}

nav {
    width: 17rem;
    display: flex;
}

header a{
    color: black;
    margin-right: 1rem;
    text-decoration: none;   
}

header a:hover{
    color: blue;
}

.user {
    display: flex;
    margin-right: 1rem;
    align-items: center;
}

.user:hover {
    border: 1px solid black;
    border-radius: 0.5rem;
}

.pic{
    border: 1px solid green;
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 0.3rem;
    border-radius: 3rem;
    overflow: hidden;
}

.pic img{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: black;
}

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
}

.container1,
.container2 {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    width: 65rem;
    background-color: white;
    height: 20rem;
    box-shadow: 2px 4px 5px lightgrey;
    border-radius: 8px;
    margin-left: 2rem;
    padding: 1rem;
}

.py {
    display: flex;
    width: 10%;
    justify-content: space-between;
    align-items: left;
    margin-top: 2rem;
}

.pyd1 {
    font-size: small;
    font-weight: 300;
    margin-left: 2rem;
    margin-top: 1rem;
}

.container1 h3,
.container2 h3 {
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 8rem;

}

.container1 p,
.container2 p {
    font-size: small;
    font-weight: 300;
    margin-bottom: 1rem;
}

.container1 a,
.container2 a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 8px;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    color: green;
}

.container1 a:hover,
.container2 a:hover {
    background-color: #f2f2f2;
}
