body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 30rem;
    height: 33rem;
    border: 2px solid lightgrey;
    box-shadow: 2px 4px 5px lightgrey;
    background-color: #ffffff;
}

.us{
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
    height: 6.5rem;
}

.pa{
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
    height: 6.5rem;
}

#username{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    height: 2rem;
    width: 19.7rem;
}

#password{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 6px;
    height: 2rem;
    width: 19.7rem;
}

#submit{
    width: 20rem;
    background-color: green;
    color:#ffffff;
    border-radius: 6px;
    border: 1px solid green;
    padding: 1rem;
    font-size: medium;
    margin-left: 4.5rem;
    margin-top: 1rem;
}

.container h4{
    font-weight: 300;
    text-align: center;
    margin-right: 1rem;
}

.container a{
    color: blue;
}

.container h3{
    text-align: center;
}

.error{
    color: red;
    text-align: center;
    margin-top: -1rem;
}

.login {
    color: green;
    width: 15rem;
    height: 2rem;
    background-color: white;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-c {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    top: 1rem;
    left: 0rem;
}

.fade-out {
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .container {
        width: 20rem;
        height: 32.5rem;
    }

    #submit{
        width: 10rem;
        margin-left: 4.8rem; 
        border-radius: 30px; 
        font-weight: bold;
        margin-top: 0;
    }

    #username{
        width: 14rem;
    }

    #password{
        width: 14rem;
    }

    .us,.pa{
        margin-left: 2.5rem;
    }
}

.login-logo {
    font-family: 'Dancing script', cursive;
    color: green;
    font-size: xx-large;
    font-weight: 500;
}

.container form {
    margin-top: -1rem;
}