<!DOCTYPE html>
<html lang="en">
    <head>
        <title>resourcehub</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/form.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <header>
            <h3>Resourcehub</h3>
            <nav>
                <a href="./read_stats.html?filename={{filename}}">community</a>
                <a href="/logout">logout</a>
                <div class = user onclick="toggleProfile()">
                    {{username}}
                    <div class = pic>
                        <img src='../static/uploads/{{filename}}'>
                    </div>
                </div>
            </nav>   
            <div class = profile-pic>
                <h3>Upload profile picture</h3>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class = q>
                        <input type="file" name="file" id="file" accept="image/jpeg, image/jpg, image/png, image/gif" required>
                        <div class = can onclick="clearFile()">X</div>
                    </div>
                    <input type="submit" value="Upload" id="submit-pic">
                </form>
            </div> 
        </header>
        <div class = big-container>
            <div class = container1>
                <div class = py><img src="../static/images/python.png" width="90px" height="100px"></div>
                <h3>Python</h3>
                <p class = pyd>
                    Embark on an enriching tech adventure with Tech<br>With Tim and Mosh Hamedani! 
                    Tech With Tim's<br> engaging tutorials will introduce you to Python's fundamentals 
                    and real-world projects. Meanwhile,<br>Mosh Hamedani's expertise will guide you through
                    Python's intricacies, data manipulation, and<br>advanced concepts. Together, they'll help 
                    you<br>unlock Python's potential for web development,<br>data science, automation, and more. 
                    Join forces<br>with them to elevate your programming journey!
                </p>
                <a href="./python.html?filename={{filename}}">Explore</a>
            </div>
            <div class = container2>
                <div class = py><img src="../static/images/shell1.png" width="90px" height="100px"></div>
                <h3>Shell scripting</h3>
                <p class = pyd1>
                    Discover the power of shell scripting with engaging tutorials and real-world
                    projects. Master automation, system administration, and task simplification
                    with<br>a comprehensive learning experience. Elevate your<br>shell scripting skills
                    to new heights and unleash your potential as a proficient shell scripter!
                    Whether you're<br>a beginner or an experienced developer, our<br>resources will 
                    help you tackle complex tasks and<br>boost your efficiency. Join our community and<br>embark
                    on a rewarding shell scripting journey today!
                </p>
                <a href="./linux.html?filename={{filename}}">Explore</a>
            </div>
        </div>    
        <div class = big-container1>
            <div class = container3>
                <div class = py><img src="../static/images/git.jpeg" width="110px" height="100px"></div>
                <h3>Git</h3>
                <p class = pyd>
                    "Git: Empower Your Projects with Masterful Version Control. Collaborate Efficiently,
                    Track Changes, and Streamline Software Development. Elevate Coding Excellence with 
                    Git's Powerful Tools. From branching<br>to merging, Git's flexibility fuels seamless 
                    teamwork. Harness its command-line prowess and visual<br> interfaces for ultimate code
                    management. Embrace<br>Git, Your Path to Efficient Collaboration and Code<br> Excellence."
                </p>
                <a href="./git.html?filename={{filename}}">Explore</a>
            </div>
            <div class = container4>
                <div class = py>
                    <img src="../static/images/html-5.png" width="70px" height="70px">
                    <img src="../static/images/css-3.png" width="70px" height="70px">
                    <img src="../static/images/js.png" width="70px" height="70px">
                </div>
                <h3>HTML, CSS and JS</h3>
                <p class = pyd1>
                    Dive into the Core of 
                    Modern Web Design with HTML,<br> Master the Palette of Styles with CSS, and Breathe<br>
                    Life into Websites using the Dynamic Power of<br> JavaScript. Unleash Your Creativity
                    in Design and Interaction as You Learn to Build Responsive,<br>Engaging, and 
                    User-Friendly Web Experiences. With Front-End Development Skills, You'll Shape
                    the Digital Landscape, Enhancing User Engagement and <br>Delivering Seamless Online
                    Interactions. Start Your<br>Path to Web Excellence Today!"
                </p>
                <a href="./frontend.html?filename={{filename}}">Explore</a>
            </div>   
        </div>
        <footer>
            <h4>Contact us</h4>
            <a href="#"><img src="../static/images/instagram.png" width="16px" height="16px"></a>
            <a href="#"><img src="../static/images/facebook.png" width="16px" height="16px"></a>
            <a href="#"><img src="../static/images/twitter.png" width="16px" height="16px"></a>
        </footer>
    </body>
</html>