<!DOCTYPE html>
<html lang="en">
    <head>
        <title>resourcehub</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/linux.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="../static/js/main.js"></script>
    </head>
    <body>
        <header>
            <h3>Resourcehub</h3>
            <nav>
                <a href="./read_stats.html?filename={{filename}}">community</a>
                <a href="/logout">logout</a>
                <div class = user onclick="toggleProfile()">
                    {{username}}
                    <div class = pic>
                        <img src='../static/uploads/{{filename}}'>
                    </div>
                </div>
            </nav>
            <div class = profile-pic>
                <h3>Upload profile picture</h3>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class = q>
                        <input type="file" name="file" id="file" accept="image/jpeg, image/jpg, image/png, image/gif" required>
                        <div class = can onclick="clearFile()">X</div>
                    </div>
                    <input type="submit" value="Upload" id="submit-pic">
                </form>
            </div>  
        </header>
        <div class = big-container>
            loren ipsum
        </div>
    </body>
</html>