<!DOCTYPE html>
<html lang="en">
    <head>
        <title>resourcehub</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet" />
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous" />
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../static/css/python.css" />
      </head>
    <body>
        <header>
            <h3>Resourcehub</h3>
            <nav>
                <a href="./read_stats.html">community</a>
                <a href="/logout">logout</a>
                <div class = user>
                    {{username}}
                    <div class = pic>
                        <img src='../static/images/person.png'>
                    </div>
                </div>
            </nav>
        </header>
        <div class="big-container">
            <div class="px-4 py-3 my-3 text-start container-1">
              <h3 class="display-5 fw-bold ">GeeksforGeeks</h3>
              <div class="mx-auto">
                <p class=" mb-4">
                    Linux is the most popular server OS(Operating System). Linux is a
                    clone of UNIX. Knowing one is as good as knowing the other. This
                    tutorial is for absolute beginners. You don't need to have any
                    prior knowledge of Linux.
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-success btn-lg px-4 gap-3">
                    <a
                      href="https://www.geeksforgeeks.org/introduction-linux-shell-shell-scripting/?ref=lbp"
                      >Check out</a
                    >
                  </button>
                </div>
              </div>
            </div>
            <div class="px-4 py-3 my-3 text-start container-1">
              <h3 class="display-5 fw-bold">Learn Linux TV</h3>
              <div class="mx-auto">
                <p class=" mb-4">
                    The Bash Scripting Essentials series will teach you everything you
                    need to know in order to write effective bash scripts in Linux. The
                    series starts with some introductory concepts, with each episode 
                    building on the last. By the end of this series, you'll be able to
                    write your own bash scripts!
                </p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-success btn-lg px-4 gap-3">
                    <a
                      href="https://www.youtube.com/playlist?list=PLT98CRl2KxKGj-VKtApD8-zCqSaN2mD4w"
                      >Check out</a
                    >
                  </button>
                </div>
              </div>
            </div>
        </div>

        <footer>
            <h4>Contact us</h3>
            <a href="#"><img src="../static/images/instagram.png" width="16px" height="16px"></a>
            <a href="#"><img src="../static/images/facebook.png" width="16px" height="16px"></a>
            <a href="#"><img src="../static/images/twitter.png" width="16px" height="16px"></a>
        </footer>
    </body>
</html>