<!DOCTYPE html>
<html lang="en">
    <head>
        <title>resourcehub</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/linux.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h3>Resourcehub</h3>
            <nav>
                <a href="./read_stats.html">community</a>
                <a href="/logout">logout</a>
                <div class = user>
                    {{username}}
                    <div class = pic>
                        <img src='../static/images/person.png'>
                    </div>
                </div>
            </nav>
        </header>
        <div class = big-container>
            <h1>Linux/Shell Scripting</h1>
            <p>Discover the power of shell scripting with engaging tutorials and real-world projects. <br>

        
            <div class="container1">
                <div class = py><img src="../static/images/shell1.png" width="90px" height="100px"></div>
                <h3> Introduction to Linux Shell and Shell Scripting - GeeksforGeeks</h3>
                <p class = pyd1>Linux is a family of open-source Unix-like operating <br>
                    systems based on the Linux kernel,an operating system <br>
                    kernel first released on September 17, 1991, <br>
                    by Linus Torvalds. <br>
                    Linux is typically packaged in a Linux distribution.</p>
                <a href="https://en.wikipedia.org/wiki/Linux">Read More</a>
            </div>
        
            <div class="container2">
                <div class = py><img src="../static/images/shell1.png" width="90px" height="100px"></div>
                <h3>Bash Scripting on Linux - Learn Linux TV</h3>
                <p class = pyd1>The Bash Scripting Essentials series will teach you everything you need to know <br>
                    in order to write effective bash scripts in Linux. The series starts with some <br>
                    introductory concepts, with each episode building on the last. <br>
                    By the end of this series, you'll be able to write your own bash scripts!</p>
                    <a href="https://en.wikipedia.org/wiki/Linux">Read More</a>
            </div>
        </div>
    </body>
</html>