<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = container>
            <form action="/login" method="POST">
                <h3>Login</h3>
                <p class = error>{{error_message}}</p>
                <div class = us>
                    <label for= username>Username</label>
                    <input type="text" id="username" name="username" required><br><br>
                </div>
                <div class = pa>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required><br><br>
                </div>
                <input type="submit" value="Login" id = submit>
            </form>
            <h4>Don't have an account?<a href="./signup.html" class = signup>Register</a></h4>
        </div>
    </body>
</html>