<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/no_access.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class = container>
            <h3 class = login-logo>Resourcehub</h3>
            <img src="../static/images/404-triangle-2.webp" width="100px" height="100px">
            <p> {{ error_message }}</p>
        </div>
    </body>
</html>