<!DOCTYPE html>
<html lang="en">
  <head>
    <title>resourcehub</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/python.css" />
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <header>
      <a href="./form.html"><h3>Resourcehub</h3></a>
        <nav>
            <a href="./read_stats.html?filename={{filename}}">community</a>
            <a href="/logout">logout</a>
            <div class = user onclick="toggleProfile()">
                {{username}}
                <div class = pic>
                    <img src='../static/uploads/{{filename}}'>
                </div>
            </div>
        </nav> 
        <div class = profile-pic>
            <h3>Upload profile picture</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class = q>
                    <input type="file" name="file" id="file" accept="image/jpeg, image/jpg, image/png, image/gif" required>
                    <div class = can onclick="clearFile()">X</div>
                </div>
                <input type="submit" value="Upload" id="submit-pic">
            </form>
        </div> 
    </header>
    <div class="big-container">
      <div class="px-4 py-3 my-3 text-start container-1">
        <h3 class="display-6 fw-bold">Coding with Mosh</h3>
        <div class="mx-auto">
          <p class="mb-4">
            Python tutorial - Python full course for beginners - Go from Zero to
            Hero with Python (includes machine learning & web development
            projects).
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-success btn-lg px-4 gap-3">
              <a
                href="https://www.youtube.com/playlist?list=PLTjRvDozrdlxlMnoG9_yJKPMxMJu8FWRK"
                >Check out</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 my-3 text-start container-1">
        <h3 class="display-6 fw-bold">Tech with Tim</h3>
        <div class="mx-auto">
          <p class="mb-4">
            Learn the Python programming language from scratch. This series is
            designed for complete beginners and will walk you through the python
            programming language. Absolutely no experience required. I explain
            everything in depth and give effective examples to help you
            understand. It is recommenced that you type along with me and try to
            create your own programs as you follow along.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-success btn-lg px-4 gap-3">
              <a
                href="https://www.techwithtim.net/tutorials/python-programming/beginner-python-tutorials"
                >Check out</a
              >
            </button>
          </div>
        </div>
      </div>
      <div class="px-4 py-3 my-3 text-start container-1">
        <h3 class="display-6 fw-bold">W3schools</h3>
        <div class="mx-auto">
          <p class="mb-4">
            W3Schools is a freemium educational website for learning coding
            online. Initially released in 1998, it derives its name from the
            World Wide Web but is not affiliated with the W3 Consortium.
            W3Schools offers courses covering all aspects of web development.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-success btn-lg px-4 gap-3">
              <a href="https://www.w3schools.com/python/default.asp"
                >Check out</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
