<!DOCTYPE html>
<html lang="en">
  <head>
    <title>resourcehub</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/python.css" />
    <script src="../static/js/main.js"></script>
  </head>
  <body>
    <header>
        <div class = menu-toggle onclick = 'myFun()'>
          <div class = hamburger>
              <div class = line></div>
              <div class = line></div>
              <div class = line></div>
          </div>
        </div>
        <div class = drop>
          <a href="./read_stats.html">Community</a>
          <a href="/logout">Logout</a>
        </div>
        <a href="./form.html"><h3>Resourcehub</h3></a>
        <nav>
            <div class = hide>
              <a href="./read_stats.html">Community</a>
              <a href="/logout">Logout</a>
            </div>  
            <div class = user onclick="toggleProfile()">
                {{username}}
                <div class = pic>
                    <img src='../static/uploads/{{filename}}'>
                </div>
            </div>
        </nav> 
        <div class = profile-pic>
            <h3>Upload profile picture</h3>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <div class = q>
                    <input type="file" name="file" id="file" accept="image/jpeg, image/jpg, image/png, image/gif" required>
                    <div class = can onclick="clearFile()">X</div>
                </div>
                <input type="submit" value="Upload" id="submit-pic">
            </form>
        </div> 
    </header>
    <div class = big-container>
      {% for resource in resource_list %}
            <div class = resource>
                <div class = hea>
                    <div class = ti>{{resource[3]}}</div>
                    {% if resource[6] is not none %}
                      <div class = ra>{{resource[6]}}&#9733;</div>
                    {% endif %}  
                </div>
                <div class = desc>{{resource[4]}}</div>
                <div class = link><a href='{{resource[5]}}'>Check out</a></div>
                <h5 class = how>How helpful was this resource?</h5>
                <div class = new>
                  <button class="rate_pop" onclick="toggleRateForm('{{ resource[0] }}')">Rate</button> 
                  {%if admin_status %}
                      <a href="/delete_resource?resource_id={{resource[0]}}" class = del>
                          <img src="../static/images/dustbin1.png" height="14px" width="12px">
                          delete
                      </a>
                  {% endif %}
                </div>
                <div class = feedback id="rate-form-{{ resource[0] }}">
                    <form action="/rating" method='POST' class="feed_form">
                        <div class = radio_class>
                          <input type="hidden" name="resource_id" value="{{ resource[0] }}">
                          <input type="hidden" name="user" value= '{{ username }}'>
                          <input type="hidden" name="topic" value = '{{ resource[2] }}'>
                          <input type="hidden" name="title" value = '{{ resource[3] }}'>
                          <div class="radio_0">
                              <label for="0">Horrible</label>
                              <input type="radio" name="rating" value="0" required>
                          </div>
                          <div class="radio_0">
                              <label for="1">Terrible</label>
                              <input type="radio" name="rating" value="1">
                          </div>
                          <div class="radio_0">
                              <label for="2">Not bad</label>
                              <input type="radio" name="rating" value="2">
                          </div>
                          <div class="radio_0">
                              <label for="3">Neutral</label>
                              <input type="radio" name="rating" value="3">
                          </div>
                          <div class="radio_0">
                              <label for="4">Helpful</label>
                              <input type="radio" name="rating" value="4">
                          </div>
                          <div class="radio_0">
                              <label for="5">Excellent</label>
                              <input type="radio" name="rating" value="5">
                          </div>
                        </div>
                        <div class = feed_text>
                          <label for="feed_desc">Why did you choose this rating? (optional)</label>
                          <textarea name="optional_feed" id="feed_text"></textarea>
                        </div>
                        <input type="submit" value="Rate us" id="submit_rating">
                    </form>
                </div> 
                <div class = topic>#{{resource[2]}}</div> 
            </div> 
      {% endfor %}  
    </div>
    <footer>
      <div class = footer_div>
          <h4>Contact us</h4>
          <a href="https://www.instagram.com/reso.urcehub/"><img src="../static/images/instagram.png" width="16px" height="16px"></a>
          <a href="#"><img src="../static/images/facebook.png" width="16px" height="16px"></a>
          <a href="#"><img src="../static/images/twitter.png" width="16px" height="16px"></a>
      </div>
      <div class="copyright"><h6>&copy;resourcehub 2023. All rights reserved</h6></div>
    </footer>  
  </body>
</html>
