<!DOCTYPE html>
<html lang="en">
    <head>
        <title>resourcehub</title>
        <meta charset = 'UTF-8'>
        <link rel="stylesheet" href="../static/css/python.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h3>Resourcehub</h3>
            <nav>
                <a href="./read_stats.html">community</a>
                <a href="/logout">logout</a>
                <div class = user>
                    {{username}}
                    <div class = pic>
                        <img src='../static/images/person.png'>
                    </div>
                </div>
            </nav>
        </header>
        <div class = big-container>
            loren ipsum
        </div>
    </body>
</html>